<h1>Generate your own book</h1>

<p>Write the name of an existing Wikipedia article to give WikibookGen a starting point.</p>

<form class="order-form">
  <p><mat-form-field>
    <mat-label>Language</mat-label>
    <mat-select [(ngModel)]="selectedLanguage" name="lang">
      <mat-option *ngFor="let lang of langs" [value]="lang.value">
        {{lang.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field></p>

  <p><mat-form-field>
    <mat-label>Format</mat-label>
    <mat-select [(ngModel)]="selectedFormat" name="format">
      <mat-option *ngFor="let format of formats" [value]="format.value">
        {{format.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field></p>

  <p><mat-form-field class="article-autocomplete-field">
  <input type="text"
         placeholder="Enter wikipedia article name"
         aria-label="Text"
         matInput
         [formControl]="myControl"
         [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field></p>
  
  <p><button mat-stroked-button (click)="orderWikibook()">Generate!</button></p>

</form>
